doctype html

html(lang="ko")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    //- <!-- SEO 메타 태그 -->
    meta(name="description" content="프론트엔드 개발자 DevLog, 꾸생의 블로그입니다.")
    meta(name="keywords" content="꾸생, 프론트엔드, 자바스크립트, CSS, juni-official, macjjuni")
    meta(name="author" content="[##_blogger_##]")
    //- <!-- 소셜 메타 태그 -->
    meta(property="og:title" content="[##_title_##]")
    meta(property="og:description" content="[##_desc_##]")
    meta(property="og:image" content="[##_image_##]")
    meta(property="og:url" content="[##_blog_link_##]")

    title [##_title_##] - [##_page_title_##]

    link(rel="stylesheet" href="//fonts.googleapis.com/earlyaccess/notosanskr.css")
    link(href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&family=Nanum+Pen+Script&family=Single+Day&display=swap" rel="stylesheet")
    link(href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet")

    //- Model-Viewer
    script(type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js")
    
  body(id="[##_body_id_##]")
    block macjjuni
    
