doctype html

html(lang="ko")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    title [##_page_title_##]

    link(rel="stylesheet" href="//fonts.googleapis.com/earlyaccess/notosanskr.css")
    link(href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&family=Nanum+Pen+Script&family=Single+Day&display=swap" rel="stylesheet")
    link(href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet")
    
  body(id="[##_body_id_##]")
    block macjjuni
    
