extends app

block macjjuni
  style.
    @import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
    html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite,
    code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
    figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
    }
    article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
    body { line-height: 1; }
    ol, ul { list-style: none; }
    blockquote, q { quotes: none; }
    blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
    table { border-collapse: collapse; border-spacing: 0; }
    a { text-decoration: none;  }
    *, html, body { box-sizing: border-box; font-family: 나눔스퀘어, 'NanumSquare', sans-serif; color: #2c3e50; }
    button {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      padding: 0.5rem 2.25rem;
      font-size: 1.05rem;
      border: 1px solid #eee;
      color: #292929;
      background-color: #fff;
      border-radius: 2px;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      cursor: pointer;
      transition: 0.25s;
    }
    button:hover { box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0,  0, 0.05) 0px 1px 1px 0px; }
    .dark button:hover { box-shadow: rgb(50 50 105 / 15%) 0px 2px 5px 0px, rgb(120 120 120) 0px 1px 1px 0px; }
    button>span {
      position: relative;
      top: 2px;
    }
    html, body {
      transition: background-color 0.33s ease ;
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }
    html::-webkit-scrollbar, body::-webkit-scrollbar {
      display: none;
    }
    #macjjuni { 
      position: relative;
      padding: 55px 0 0 280px;
      opacity: 0;
      transition: opacity 0.8s ease, padding 0.6s ease;
    }
    .load-done #macjjuni {
      opacity: 1;
    }
    .dark * { color: #c3c8cc; }
    #macjjuni, .header { transition: 0.33s ease; }
    
    .sidebar, .header { background-color: #fff; }

    .dark { background-color: #232529; }
    .dark .header, .dark .sidebar { background-color: #2a2c31; }

    @media screen and (max-width: 900px) {
      #macjjuni { padding: 55px 0 0 0; }
    }
    #sideToggle {
      position: fixed;
      left: -100%;
    }
    .btn_tool{
      opacity: 0 !important;
      transition: opacity 0.4 ease;
    }
    .load-done .btn_tool { opacity: 1 !important; }
    .menu_toolbar { 
      top: 12px !important; right: 60px !important;
      transform: none !important;
      height: auto;
    }
    .btn_menu_toolbar {
      background: #4776E6;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #8E54E9, #4776E6);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #8E54E9, #4776E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    .txt_tool_id, .txt_state {
      color: #fff !important;
      font-weight: bold !important;
    }

  include views/Spinner
  s_t3
    div#macjjuni
      include views/Header
      input#sideToggle(type="checkbox")
      include views/sidebar
      include views/Content
      include views/Footer/Footer

  script(scoped).
    //- AOS.init();
    window.addEventListener('DOMContentLoaded', () => {
      // 스크롤바 위치 표시
      const scrollY = (window.scrollY / (allHeight - window.innerHeight) * 100).toFixed(3);
      scrollBar.style.width = scrollY + "%";

      // post-item 홀수인 경우 짝수로 만들기
      const articleWrap = document.querySelector('.article-wrap');
      if(articleWrap && articleWrap.children.length % 2 !== 0) {
        const newArti = document.createElement('article');
        newArti.classList.add('post-item');
        newArti.style.margin = "0";
        articleWrap.appendChild(newArti);
      }

      // 카테고리 텍스트 제거
      document.querySelector('.link_tit').style.display = 'none'; 
      document.querySelector('body').classList.add('load-done')

      // 0개 댓글 표시하기
      const postCnt = document.querySelectorAll('.post-commentCnt')
      if(postCnt !== null) {
        postCnt.forEach(p => {
          if(p.innerText === '') p.innerText = '(0)';
        })
      }
      // 방문자 카운트 애니메이션
      const easingFn = function (t, b, c, d) {
        const ts = (t /= d) * t;
        const tc = ts * t;
        return b + c * (tc + -3 * ts + 3 * t);
      }
      const options1 = { duration: 7.5,  easingFn }
      const options2 = { duration: 7,  easingFn }
      const options3 = { duration: 6.5,   easingFn }

      const _today = document.querySelector('#todayCnt').innerText.replace(/,/g, "")
      const _yday = document.querySelector('#ydayCnt').innerText.replace(/,/g, "")
      const _total = document.querySelector('#totalCnt').innerText.replace(/,/g, "")

      const todayCnt = new countUp.CountUp("todayCnt", _today, options1)
      const ydayCnt = new countUp.CountUp("ydayCnt", _yday, options2)
      const totalCnt = new countUp.CountUp("totalCnt", _total, options3)

      todayCnt.start();
      ydayCnt.start();
      totalCnt.start();

      // 로딩 효과 지우기
      const load = document.querySelector('.load-bg'); // 로딩 스피너
      load.style.opacity = 0;

      setTimeout(()=> { 
        load.style.display = 'none';
      }, 400)

    })
    