s_list
    section.post-list-wrap
        section.article-header
            h2.article-head-txt [##_list_conform_##] ([##_list_count_##])
        section.article-wrap
            s_list_rep
                article.post-item
                    a.post-link(href="[##_list_rep_link_##]")
                        s_list_rep_thumbnail
                            img.post-thumb(src="[##_list_rep_thumbnail_##]" alt="thumb-nail")
                        h3 [##_list_rep_title_##]
                        h4 [##_list_rep_regdate_##]
    style.
        .article-header{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding: 10px 0;
        }
        .article-head-txt {
            font-size: 1.25rem;
        }
        .article-wrap{
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            align-items: center;
            align-content: center;
        }
        .post-item{
            max-width: 768px;
        }
        .post-thumb {
            display: inline-block;
            width: 100%;
            height: 400px;
        }
    
//- section.post-list-wrap       
//-     s_cover_group
//-         s_cover_rep
//-             s_cover
//-                 div.article-header
//-                     h2.article-head-txt [##_cover_title_##]
//-                 div.article-wrap
//-                     s_cover_item
//-                         article.post-item
//-                             a.post-link(href="[##_cover_item_url_##]")
//-                                 s_cover_item_thumbnail
//-                                     img.post-thumb(src="[##_cover_item_thumbnail_##]" alt="thumb-nail")
//-                                 h3 [##_cover_item_title_##]
//-                                 s_cover_item_article_info
//-                                     div.post-info
//-                                         p.post-prew [##_cover_item_summary_##]
//-                                         span.post-cate [##_cover_item_category_##]
//-                                         span.post-date [##_cover_item_date_##]
    