s_list
    section.post-list-wrap
        section.article-header
            h2.blank
            h2.article-head-txt [##_list_conform_##] ([##_list_count_##])
        section.article-wrap
            s_list_rep
                article.post-item(data-aos="fade-up" data-aos-delay="100" data-aos-easing="ease" data-aos-duration="500")
                    i(class="bx bxs-cat bx-lg")
                    a.post-link(href="[##_list_rep_link_##]")
                        div.post-thumb-wrap 
                            s_list_rep_thumbnail
                                img.post-thumb(src="[##_list_rep_thumbnail_##]" alt="thumb-nail")
                            span.post-date [##_list_rep_regdate_##]   
                        h2.post-article-title [##_list_rep_title_##]
                        p.post-summary [##_list_rep_summary_##]
                        p.post-date-wrap
                            span.post-dateTxt [##_list_rep_regdate_##]
                            span.post-commentCnt
                                span.post-commentCntt [##_list_rep_rp_cnt_##]
                                span 개의 댓글

    style.
        .post-list-wrap{
            max-width: 1400px;
            margin: 0 auto;
        }
        .article-header{
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            padding: 10px 0;
            margin-top: 1rem;
        }
        .article-header > h2{
            max-width: 544px; 
            width: 100%; 
        }
        .article-head-txt { 
            font-size: 1.25rem; 
            text-align: right;
        }
        .article-wrap{
            position: relative;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            align-content: center;
            padding: 20px 0;            
        }
        .post-item{ 
            position: relative;
            max-width: 544px; 
            width: 100%;
            margin-bottom: 55px;
        }
        .post-thumb-wrap { 
            width: 100%; height: 327px;
            border-radius: 10px;
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
            overflow: hidden;
        }
        .post-thumb {
            display: inline-block;
            width: 100%; height: 100%;
        }
        .post-article-title {
            font-size: 1.38rem;
            font-weight: bold;
            padding: 20px 0 12px 0;
            margin: 0 !important;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        .post-summary {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .post-date {
            position: absolute;
            top: 0; right: 0;
            padding: 6px 10px;
            font-size: 16px;
            color: #fff;
            border-top-right-radius: 10px;
            background-color: rgb(42 42 42 / 50%);
            border-bottom-left-radius: 5px;
        }
        .post-date-wrap {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding-top: 30px;
            font-size: 0.95rem;
        }
        .post-commentCnt { margin-left: 0.5rem; }

        .bxs-cat {
            position: absolute;
            top: -43px; left: 0px;
            opacity: 0;
            transition: 0.3s ease;
            animation: catWorking 6.6s ease infinite;
        }
        .post-item:hover > .bxs-cat {
            opacity: 1;
        }
        @media screen and (max-width: 1400px) {
            .article-wrap {
                justify-content: center;
                flex-direction: column;
            }
            .article-header{
                max-width: 767px;
                margin: 1rem auto 0 auto;
            }
            .post-item { max-width: 767px; }
            .post-thumb-wrap { height: 460px; }
            .post-article-title { font-size: 1.7rem; }
        }
        @media screen and (max-width: 1080px) {
            .post-thumb-wrap {
                height: calc( (100vw - (280px + 2rem)) /5 * 3 );
            }
            .post-list-wrap {
                padding: 0 1rem;
            }
        }
        @media screen and (max-width: 900px) {
            .post-thumb-wrap {
                height: 460px;
            }
        }
        @media screen and (max-width: 799px) {
            .article-wrap { padding: 10px 0; }
            .article-head-txt { 
                font-size: 1rem; 
                text-align: right;
            }
            .post-thumb-wrap { height: calc((100vw - 2rem) / 5 * 3); }
            .post-article-title { 
                padding: 20px 0 8px 0;
                font-size: 1.25rem; 
            }
            .post-date-wrap {
                padding-top: 20px;
            }
            .post-item{ 
                margin-bottom: 50px;
            }
        }
        @media screen and (max-width: 799px) {
            .post-date {
                padding: 4px 6px;
                font-size: 14px;
            }
            .post-thumb-wrap { 
                border-radius: 8px;
            }
            .post-date {
                border-top-right-radius: 8px;
            }
        }

        @keyframes catWorking {
            0% { 
                left: 0; 
                transform: scaleX(1); 
            }
            40% { 
                transform: scaleX(1); 
            }
            50% { 
                left: calc(100% - 50px); 
                transform: scaleX(-1);
            }
            90% { 
                transform: scaleX(-1);
            }
            100% { 
                left: 0;  
                transform: scaleX(1);
            }
        }