s_paging
    section.paging
        a.prev([##_prev_page_##] class="[##_no_more_prev_##]") ◀
        span.numbox
            s_paging_rep
                a([##_paging_rep_link_##] class="num") [##_paging_rep_link_num_##]
        a.next([##_next_page_##] class="[##_no_more_next_##]") ▶

    style.
        .paging {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            margin: 0 0 2rem 0;
        }
        .paging > a, .paging > .numbox .num {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 30px; height: 30px;
            margin: 0 3px;
            border-radius: 14px;
            background-color: #e8e8e8;
            transition: background-color 0.3s ease;
        }
        .dark .paging > a, .dark .paging > .numbox .num {
            background-color: #49505f;
        }
        .num > .selected { 
            color: #fff;
        }