s_article_rep
    s_permalink_article_rep
        div.post-top-thumb
            s_article_rep_thumbnail
                div.post-thumb-img(style="background-image: url('[##_article_rep_thumbnail_raw_url_##]')")
                div.post-thumb-info
                    h2.post-thumb-title [##_article_rep_title_##]
                    p.post-thumb-sub
                        span.sub-cate [##_article_rep_category_##]
                        span.sub-space |
                        span.sub-date [##_article_rep_simple_date_##]
        section.content
            div.content-wrap
                div.post-header
                    //- h2.post-title [##_article_rep_title_##]
                    //- p.post-info [##_article_rep_category_##] - [##_article_rep_simple_date_##]
                    s_ad_div
                        div.post-admin
                            span [##_s_ad_s1_label_##]
                            a(href="[##_s_ad_m_link_##]") 수정
                    div.post-author 작성자 : [##_article_rep_author_##]
                include ../Ads/ResAds
                div.post-content [##_article_rep_desc_##]
                div.post-commend
                    s_rp
                        include CommentWrite
                        include CommentList
                include ../Ads/PostBottom
            div.post-toc-wrap
                div.post-toc
                div.post-toc-ads
                    include ../Ads/SideAds

    script(scoped).
        // post toc
        const content = document.querySelector('.content-wrap')
        if(content !== null){
            const headings = content.querySelectorAll('h2, h3, h4')
            const headingMap = {}

            Array.prototype.forEach.call(headings, function (heading) {
                const id = heading.id ? heading.id : heading.textContent.trim().toLowerCase()
                            .split(' ').join('-').replace(/[\!\@\#\$\%\^\&\*\(\):]/ig, '')
                headingMap[id] = !isNaN(headingMap[id]) ? ++headingMap[id] : 0
                if (headingMap[id]) {
                    heading.id = id + '-' + headingMap[id]
                } else {
                    heading.id = id
                }
            })
            
            const thumbHeight = document.querySelector('.post-top-thumb').clientHeight

            tocbot.init({
                tocSelector: '.post-toc',
                contentSelector: '.content-wrap',
                headingSelector: 'h2, h3, h4',
                hasInnerContainers: false,
                headingsOffset: -200,
                scrollSmooth: true,
                headingsOffset: -(thumbHeight+200)
            });
        }
        const postBg = document.querySelector('.post-thumb-img')
        if(postBg !== null) {
            window.addEventListener('scroll', ()=> {
                postBg.style.transform = 'translateY(' + -(window.scrollY*0.165) + 'px)';
            }, {passive:true})
        }
        

    style.
        .content {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: flex-start;;
        }
        .content-wrap {
            max-width: 780px;
            padding: 0 1rem;
            width: 100%;
        }
        .content ~ .paging { display: none; }

        .post-toc-wrap {
            position: sticky;
            top: 70px;
            width: 260px;
        }

        .post-toc {
            position: relative;
            display: block;
            margin-left: 1rem;
            padding: 12px 7px;
            overflow: hidden;
            transition: margin-top 0.1s ease, background-color 0.33s ease;
        }

        .toc-link::before { 
            width: 3px;
            background-color: #dce1ee;
        }
        .is-active-link::before {
            background-color: #54BC4B !important;
        }
        .dark .toc-link::before { 
            background-color: #9f9f9f;
        }
        .dark .is-active-link::before {
            background-color: #54BC4B !important;
        }
        .post-top-thumb {
            position: relative;
            top: 0rem; left: 0rem;
            width: calc(100vw - 280px);
            height: calc(100vh - 55px);
            overflow: hidden;
        }
        .post-top-thumb::after {
            content: '';
            position: absolute;
            top: 0; left: 0;
            width: 100%; height: 100%;
            background-color: rgba(0,0,0,0.25);
            transition: background-color 0.33s ease;
            z-index: 6000;
        }
        .dark .post-top-thumb::after {
            background-color: rgba(0,0,0,0.55);
        }
        .post-thumb-img {
            width: 120%; height: 120%;
            background: 50% 50%/cover no-repeat;
        }
        .post-thumb-info {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
            align-content: center;
            position: absolute;
            bottom: 15%; left: 0;
            width: 100%;
            padding: 60px 40px;
            background-color: rgba(0,0,0,0.5);
            z-index: 7000;
        }
        .post-thumb-title {
            width: 100%;
            padding: 0.5rem 0;
            margin-bottom: 10px;
            font-size: 40px;
            line-height: 1.1;
            text-align: left;
            color: #fff;
        }
        .post-thumb-sub {
            padding: 0.5rem 0;
            font-size: 1.2rem;
            color: #fff;
        }
        .sub-cate, .sub-date, .sub-space { color: #fff; }
        .sub-space { margin: 0 0.5rem; }

        .post-header { 
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            height: 80px;
            padding: 1rem 0;
        }
        .post-info {
            display: block;
            width: 100%;
            text-align: right;
            margin-bottom: 10px;
        }
        .post-admin {
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
        .post-admin>a {
            margin-left: 15px;
        }
        .post-author { 
            padding: 8px 10px;
            color: #4f4f4f;
            background: #ececec;
            border-radius: 6px;
            margin-left: 15px;
            font-size: 14px;
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
            transition: color 0.33s ease, background-color 0.33s ease;
        }
        .dark .post-author {
            color: #bcbcbc;
            background: #50525d;
        }
        blockquote {
            transition: 0.3s ease;
        }
        #tt-body-page blockquote[data-ke-style='style2'] {
            background: #f5f5f5;
            border-left: 5px solid #cecece;
            font-size: 15px;
            line-height: 28px;
            padding: 3px 0 3px 15px;
            margin: 25px 0 25px 3px;
        }
        .dark blockquote[data-ke-style='style2'] {
            background: #393b40 !important;
        }
        .dark blockquote[data-ke-style='style2'] > b {
            color: #fff;
        }
        .dark blockquote[data-ke-style='style3'] {
            border: 1px solid #747474 !important;
            background: #2e2e2e !important;
            color: #d6d6d6 !important;
        }

        hr[data-ke-style], #tt-body-page hr[data-ke-style] {
            cursor: default !important;
        }
        .post-content p {
            line-height: 1.6;
        }
        .post-content b {
            font-weight: bold;
        }
        #tt-body-page p[data-ke-size='size18'], p[data-ke-size='size18'] {
            font-size: 1rem !important;
        }
        #tt-body-page p[data-ke-size='size16'], p[data-ke-size='size16'] {
            font-size: 0.95rem !important;
        }
        #tt-body-page p[data-ke-size='size14'], p[data-ke-size='size14'] {
            font-size: 0.9rem !important;
        }
        .post-content h2, .post-content h3, .post-content h4, .post-content h2 b, .post-content h3 b, .post-content h4 b {
            color: #293643 !important;
            padding: 50px 0 0 0;
            font-weight: bold !important;
            line-height: 1.5 !important;
            transition: color 0.3s ease !important;
        }
        .post-content ul, .post-content ol {
            padding-left: 15px;
            margin: 1rem 0;
        }
        .post-content ul>li, .post-content ol>li {
            padding: 5px 0;
            font-size: 16px;
            line-height: 1.5;
        }
        .post-content ul>li b, .post-content ol>li b {
            color: #000;
        }
        .dark .post-content ul>li b, .post-content ol>li b {
            color: #fff;
        }
        .dark .post-content h2, .dark .post-content h3, .dark .post-content h4, .dark .post-content h2 b, .dark .post-content h3 b, .dark .post-content h4 b {
            color: #dce2e8 !important;
        }
        .tt_article_useless_p_margin {
            position: relative;
            min-height: 350px;
            padding-bottom: 70px;
        }
        .dark figure[data-ke-type='opengraph'] div.og-text p.og-title, #tt-body-page figure[data-ke-type='opengraph'] div.og-text p.og-title {
            color: inherit;
        }

        figure[data-ke-type='opengraph'] div.og-image {
            border-right: 1px solid #e4e4e4;
        }
        figure[data-ke-type='opengraph'] a, #tt-body-page figure[data-ke-type='opengraph'] a {
            border: 1px solid #e4e4e4;
        }

        .dark figure[data-ke-type='opengraph'] a, .dark #tt-body-page figure[data-ke-type='opengraph'] a {
            border: 1px solid #676767 !important;
        }
        .dark figure[data-ke-type='opengraph'] div.og-image {
            border-right: 1px solid #676767 !important;
        }

        .container_postbtn { 
            position: absolute !important;
            bottom: 0; left: 0;
            width: 100%;
            padding: 0 !important;
        }
        .postbtn_like{ border: none !important; }
        .layer_post{ padding: 0 !important; }
        .postbtn_like button { 
            padding: 0 9px !important; 
            margin-right: 5px !important;
            border-radius: 3px;
            box-shadow: none;
            transition: box-shadow 0.2s ease;
        }
        .postbtn_like button:hover { box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; }
        .layer_post .btn_mark {
            box-shadow: none;   
            border-radius: 0;
        }
        .container_postbtn .btn_menu_toolbar {
            border: none !important;
            cursor: pointer !important;
            height: 30px !important;
            border-radius: 5px !important;
        }
        .container_postbtn .postbtn_like{ padding: 0 !important; }
        .post-commend {
            color: #2c3e50;
            padding: 2rem 0 1.5rem 0;
            margin: 2rem 0 0 0;
            border-top: 1px solid #cccccc;
        }
        .dark .post-commend {
            border-top: 1px solid #727272;
        }



        @media screen and (max-width: 1300px) {
            .post-toc { display: none; }
        }
        @media screen and (max-width: 1360px) {
            .content-wrap {
                max-width: 700px;
                padding: 0px;
            }
        }
        @media screen and (max-width: 1000px) {
            .content-wrap {
                max-width: auto;
                width: 100%;
                padding: 0 10px;
            }
            .post-thumb-title {
                font-size: 32px;
            }
            .post-thumb-sub {
                font-size: 18px;
            }
        }
        @media screen and (max-width: 900px) {
            .post-thumb-info {
                padding: 25px;
            }
        }
        @media screen and (max-width: 900px) {
            .post-top-thumb { width: 100vw; }
        }
        @media screen and (max-width: 720px) {
            .content { padding: 0 0 30px 0; }
            .content-wrap { padding: 0 10px; }
            .post-title {
                margin: 1rem 0;
                line-height: 1.3;
            }
        }


        @media screen and (max-width: 486px) {
            .post-thumb-title { 
                font-size: 26px; 
                margin-top: 0;
            }
            .post-thumb-info { padding: 16px; }
        }
        .toc-list {
            margin-top: 10px !important;
            font-size: 0.9em;
        }
        .toc-list >li { margin-bottom: 10px !important; }
        .toc>.toc-list li { margin-bottom: 10px; }
        .toc>.toc-list li:last-child { margin-bottom: 0; }
        .toc>.toc-list li a {
            font-size: 15px !important;
            text-decoration: none;
        }
        .toc>.toc-list {
            overflow: hidden;
            position: relative;
        }
        figure.imageblock.alignCenter{
            margin: 20px auto 20px auto !important;
        }

        /* ---------------- code eidtor ---------------- */
        pre {
            position: relative;
            padding: 0; margin: 20px 0;
            font-size: 16px;
            white-space: pre-wrap;
            border-radius: 6px;
            background: rgba(0, 0, 0, 0.05);
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            overflow: hidden;
        }

        pre>.hljs{
            padding: 44px 15px 20px 15px;
            background-color: #3a3a3a;
            font-family: 'Nanum Gothic Coding', monospace;
            font-size: 16px;
            letter-spacing: .4px;
        }
        .dark pre>.hljs { background-color: #242935; }
        .dark pre>.hljs{
            background-color: #393b40;
        }
        .javascript, .xml { color: #fff; }
        .hljs-tag { color: #e06c75; }
        .hljs span{ line-height: 24px; }

        pre::after{
            position: absolute;
            top: 0; left: 0 ;
            content: '';
            width: 100%;
            height: 24px;
            background: #ededed;
            z-index: 10;
            transition: background-color 0.3s ease;
        }

        .dark pre::after {
            background: #3f63bb;
        }

        pre::before{
            position: absolute;
            top: 5px; left: 5px;
            content: '';
            width: 14px;
            height: 14px;
            border-radius: 50%;
            background: #fd5350;
            z-index: 11;
        }

        pre>.hljs::after{
            position: absolute;
            top: 5px; left: 24px;
            content: '';
            width: 14px;
            height: 14px;
            border-radius: 50%;
            background: #fdb23a;
                z-index: 11;
        }

        pre>.hljs::before{
            position: absolute;
            top: 5px; left: 43px;
            content: '';
            width: 14px;
            height: 14px;
            border-radius: 50%;
            background: #2cbf44;
                z-index: 11;
        }
        @media screen and (max-width: 700px) {
            pre {
                margin: 20px -10px;
                border-radius: 0;
            }
        }