s_article_rep
    s_permalink_article_rep
        section.content
            div.content-wrap
                div.post-header
                    h2.post-title [##_article_rep_title_##]
                    p.post-info [##_article_rep_category_##] - [##_article_rep_simple_date_##]
                    s_ad_div
                        div.post-admin
                            span [##_s_ad_s1_label_##]
                            a(href="[##_s_ad_m_link_##]") 수정
    
                div.post-content [##_article_rep_desc_##]
                div.post-commend
                    s_rp
                        include CommentWrite
                        include CommentList
            div.post-navi

    style.
        .content {
            display: flex;
            justify-content: center;
            align-items: flex-start;
        }
        .content-wrap {
            max-width: 780px;
            padding: 0 1rem;
            width: 100%;
        }
        .content ~ .paging { display: none; }

        .post-navi {
            display: block;
            width: 250px;
            height: 500px;
            margin-left: 1rem;
            border: 1px solid #000;
        }
        .post-header { 
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0 0 1rem 0;
            margin: 0.5rem 0 1.5rem 0;
            border-bottom: 1px solid #000;
        }
        .post-title {
            display: block;
            width: 100%;
            margin: 10px 0;
            font-size: 1.85rem;
            font-weight: bold;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow-x: scroll;   
            -ms-overflow-style: none;
        }
        .post-info {
            display: block;
            width: 100%;
            text-align: right;
            margin-bottom: 10px;
        }
        .post-admin {
            display: flex;
            width: 100%;
            justify-content: flex-end;
            align-items: center;
        }
        .post-admin > a {
            margin-left: 0.5rem;
        }
        .post-content p {
            line-height: 1.25;
        }
        .tt_article_useless_p_margin {
            position: relative;
            min-height: 350px;
            padding-bottom: 70px;
        }
        .container_postbtn { 
            position: absolute !important;
            bottom: 0; left: 0;
            width: 100%;
            padding: 0 !important;
        }
        .postbtn_like{ border: none !important; }
        .layer_post{ padding: 0 !important; }
        .postbtn_like button { 
            padding: 0 9px !important; 
            margin-right: 5px !important;
            border-radius: 3px;
            box-shadow: none;
            transition: box-shadow 0.2s ease;
        }
        .postbtn_like button:hover { box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; }
        .layer_post .btn_mark {
            box-shadow: none;   
            border-radius: 0;
        }
        .container_postbtn .btn_menu_toolbar {
            border: none !important;
            cursor: pointer !important;
            height: 30px !important;
            border-radius: 5px !important;
        }
        .container_postbtn .postbtn_like{ padding: 0 !important; }
        .post-commend {
            color: #2c3e50;
            padding: 2rem 0 1.5rem 0;
            margin: 2rem 0 0 0;
            border-top: 1px solid #cccccc;
        }
        @media screen and (max-width: 1300px) {
            .post-navi { display: none; }
        }
        @media screen and (max-width: 1360px) {
            .content-wrap {
                max-width: 700px;
                padding: 0px;
            }
        }
        @media screen and (max-width: 720px) {
            .post-title {
                height: 43px;
                text-overflow: clip;
            }
        }
        
        
