main.main
    include Content/Home
    include Content/Post
    include Content/Pagination
    
    style.
        .main {
            position: relative;
            min-height: calc(100vh - 100px);
            padding: 1rem 1rem 50px 1rem;
        }
        @media screen and (max-width: 767px) {
            .main { padding: 10px 10px 50px 10px; }
        }