div.price-wrap
    div.slide-wrap
        span(class="item-BTC")
            i(class="bx bxl-bitcoin")
        span(class="item-ETH") ETH
        span(class="item-XRP") XRP
        span(class="item-LTC") LTC
        span(class="item-ORBS") ORBS

    script(scoped).
        
        const slideBar = document.querySelector(".slide-wrap");

        setInterval(()=>{  
            const upbit = "https://api.upbit.com/v1/ticker?markets=";
            const crypto = "KRW-BTC,KRW-ETH,KRW-XRP,KRW-LTC,KRW-ORBS";
            axios.get(upbit + crypto).then(res => {
                const data = res.data;                
                res.data.forEach((el, idx) => {
                    const pirceBar = el.market.substr(4,4) === "BTC" ? `<span class="ticker-txt"><i class='bx bxl-bitcoin bx-xs'></i></span><span class="ticker-price-rise">${el.trade_price.toLocaleString()}</span>` : `<span class="ticker-txt">${el.market.substr(4,4)} :</span><span class="ticker-price-rise">${el.trade_price.toLocaleString()}</span>`;
                    if(el.change === "RISE"){
                        slideBar.children[idx].innerHTML = pirceBar;
                    }else if(el.change === "FALL"){
                        slideBar.children[idx].innerHTML = pirceBar;
                    }else{
                        slideBar.children[idx].innerHTML = pirceBar;
                    }
                })          
            }).catch(err => {
                console.log(err);
            });
        }, 1200);

    style.
        .price-wrap {
            position: sticky;
            top: -15px;
            display: inline-block;
            padding: 18px 0;
            margin: 25px -15px 0 -15px;
            box-sizing: border-box;
            width: 280px;
            background-color: #161a1e;
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
            user-select: none;
            overflow: hidden;
            z-index: 9998;
        }
        .price-wrap:after{
            content: 'Upbit';
            display: inline-block;
            position: absolute;
            top: 0; left: 0;
            height: 100%;
            background-color: #093687;
            z-index: 9999;
            padding: 10px;
            font-size: 15px;
            color: #fff;
            font-weight: bold;
            font-style: italic;
            font-family: 'IBM Plex Sans', sans-serif;
        }
        .ticker-txt{ color: #fff !important; }
        .bxl-bitcoin { 
            color: #ef8e18; 
            margin-top: 2px;
        }
        .slide-wrap>span{
            position: absolute;
            top: 50%; left: 110%;
            transform: translate(0, -50%);
            display: flex;
            justify-content: center;
            align-items: center;
            width: 130px;
            height: 20px;
            white-space: nowrap;
            text-align: center;
            color: #fff;
            font-size: 13px;
            font-family: 'IBM Plex Sans', sans-serif;
            border: 1px solid #514d4d;
        }
        .slide-wrap>span span{
            font-size: 13px;
            margin: 2px;
            display: inline-block;
            vertical-align: middle;
        }
        .ticker-price-fall{ color: #f6465d; margin: 0; }
        .ticker-price-rise{	color: #0ecb81; margin: 0; }
        .ticker-price-same{ color: #fff; margin: 0; }
        .item-BTC{ animation: slidingSlow 20s 0s linear infinite; }
        .item-ETH{ animation: slidingSlow 20s 4s linear infinite; }
        .item-XRP{ animation: slidingSlow 20s 8s linear infinite; }
        .item-LTC{ animation: slidingSlow 20s 12s linear infinite; }
        .item-ORBS{ animation: slidingSlow 20s 16s linear infinite; }
        @keyframes slidingSlow {
            from{ left: 100%; }
            to{ left: -150%; }
        }
        