footer.footer
    div.footer-wrap
        span © 2022. 꾸생의 DevLog All rights reserved.

    style.
        .footer {
            position: absolute;
            bottom: 0; left: 0;
            width: 100%; height: 50px;
            border-top: 1px solid #e5e5e5;
        }
        .dark .footer {
            border-top: 1px solid #595959;
        }
        .footer-wrap {
            width: 100%; height: 100%;
            padding: 0 1rem;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
        .footer-wrap>span {
            font-size: 0.8rem;
        }