div.cate-wrap
    div.list-wrap
        h3.list-header
            i(class="bx bx-sm bx-category")
            span Menu
        | [##_blog_menu_##]
    div.list-wrap
        h3.list-header
            i(class="bx bx-sm bx-code-alt")
            span Category
        | [##_category_list_##]


    script.
        const liHeader = document.querySelectorAll('.list-header');
        liHeader.forEach(el => {
            el.addEventListener('mouseenter', (e)=> {
                e.target.children[0].classList.add('bx-tada')
            })
            el.addEventListener('mouseleave', (e)=> {
                e.target.children[0].classList.remove('bx-tada')
            })
        })

    style.
        .cate-wrap { margin: 15px 0; }
        .list-wrap { 
            padding-left: 4px;
            margin-bottom: 20px;
        }
        .link_tit { display: none; }
        .list-wrap>h3{
            position: sticky;
            top: 20px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 15px 0;
            margin-bottom: 15px;
            font-size: 1.3rem;
            font-weight: bold;
            border-bottom: 1px solid #dddddd;
            background-color: #fff;
            transition: 0.3s ease;
            z-index: 1;
        }
        .dark .list-wrap>h3{
            background-color: #2a2c31;
        }
        .list-header>span, .list-header, .list-header>i { 
            color: #000;
        }
        .dark .list-header>span, .dark .list-header, .dark .list-header>i {
            color: #fff;
        }
        .bx-code-alt, .bx-category{
            margin-right: 0.5rem;
        }
        .list-wrap>ul {
            padding-left: 5px;
        }
        .list-wrap>ul>li>a, .category_list>li>a {
            position: relative;
            display: block;
            font-size: 1.0rem;
            padding: 0.5rem 0.2rem;
            margin: 0.1rem 0;
            overflow: hidden;
            transition: 0.3s ease;
        }
        .list-wrap>ul>li>a:hover, .category_list>li>a:hover {
            text-decoration-line: underline;
            text-decoration-style: solid;
            text-decoration-color: #2c3e50;
            text-underline-offset: 3px;
            text-decoration-thickness: 2px;
        }
        .dark .list-wrap>ul>li>a:hover, .dark .category_list>li>a:hover {    
            text-decoration-color: #b3b8bd;
        }
        .link_item>img {
            display: none;
        }
        