- const voxel = "<model-viewer src='https://tistory1.daumcdn.net/tistory/3617178/skin/images/juni-coding-voxel.gltf' style='width: 100%; height: 200px; z-index: 0; --progress-mask: none; --poster-color:transparent; --progress-mask:none; --poster-color:transparent;' poster='https://tistory2.daumcdn.net/tistory/3617178/skin/images/Loading_icon.gif' loading='auto' camera-controls  autoplay auto-rotate shadow-intensity='2.5' shadow-softness='1' alt='꾸생 아바타' camera-orbit='130deg 80deg 110%' environment-image='neutral' interaction-prompt='none' field-of-view='130deg' min-field-of-view='70deg' max-field-of-view='90deg' max-camera-orbit='Infinity 180deg auto' min-camera-orbit='-Infinity 0deg auto' interpolation-decay='30' auto-rotate-delay='0' rotation-per-second='10' exposure='1'></model-viewer>"
    div.juni-voxel-wrap !{voxel}
    
    style.
        .juni-voxel-wrap {
            margin: -10px 0;
        }
        model-viewer#reveal {
            --poster-color: #fff;
        }