div.today-wrap
    a(href="https://github.com/junheeleeme" target="_blank")
        i(class="bx bx-md bxl-github")
    a(href="https://www.instagram.com/ju_ni_official/" target="_blank")
        i(class="bx bx-md bxl-instagram")
    a(href="#")
        i(class="bx bx-md bxl-bitcoin")

    style.
        .today-wrap{
            position: absolute;
            bottom: 1rem; right: 1rem;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
        .today-wrap > a {
            margin: 0 0.25rem;
        }
