h1.logo
  //- a(href="[##_blog_link_##]") [##_title_##]
  a(href="[##_blog_link_##]") 꾸생의 DevLog
  //- 꾸생의 DevLog 
style.
  header > h1 {
    font-size: 1.4rem;
    font-family: 'Single Day', cursive !important;
    letter-spacing: 3px;
    text-shadow: red 0 0, cyan 0 0;
    transition: text-shadow 200ms;
  }

  header > h1:hover {
    transform: skewY(-3deg);
    text-shadow: #764AF1 3px 3px, #F9CEEE 6px 6px;
  }
  .dark header>.logo>a { color: #fff; }
  
