h1
  //- a(href="[##_blog_link_##]") [##_title_##]
  a(href="[##_blog_link_##]") 꾸생의 DevLog
  //- 꾸생의 DevLog 
style.
  header > h1 {
    font-size: 1.55rem;
    font-family: 'Single Day', cursive !important;
    font-weight: bold;
  }
