div.post-bottom-ads
    div.ads-white
        script(async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7285750037307016" crossorigin="anonymous")
        ins(class="adsbygoogle" style="display:block" data-ad-format="autorelaxed" data-ad-client="ca-pub-7285750037307016" data-ad-slot="9254058702")
        script(scoped).
            (adsbygoogle = window.adsbygoogle || []).push({});

    div.ads-dark
        script(async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7285750037307016" crossorigin="anonymous")
        ins(class="adsbygoogle" style="display:block" data-ad-format="autorelaxed" data-ad-client="ca-pub-7285750037307016" data-ad-slot="2771367879")
        script(scoped).
            (adsbygoogle = window.adsbygoogle || []).push({});

    style.
        .post-bottom-ads{
            padding: 20px 0 50px 0;
        }
        .ads-white { display: block; }
        .ads-dark { display: none; }
        .dark .ads-dark { display: block; }
        .dark .ads-white { display: none; }
        