div.res-ads
    script(async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7285750037307016" crossorigin="anonymous")
    ins(class="adsbygoogle" style="display:block" data-ad-client="ca-pub-7285750037307016" data-ad-slot="3076603487" data-ad-format="auto" data-full-width-responsive="true")
    script(scoped).
        (adsbygoogle = window.adsbygoogle || []).push({});

    style.
        .res-ads {
            max-width: 1200px;
            margin: 0 auto;
            padding: 20px 10px; 
        }