div.ads-wrap
    script(async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7285750037307016" crossorigin="anonymous")
    ins(class="adsbygoogle" style="display:inline-block;width:256px;height:60px" data-ad-client="ca-pub-7285750037307016" data-ad-slot="6569600940")
    script(scoped).
        (adsbygoogle = window.adsbygoogle || []).push({});


    style.
        .ads-wrap {
            margin: 25px -5px 0 -5px;
        }